################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EnergyMngt/FileContentIndex/087b5406-99bb-4826-9c43-30c29028aa86.vsidx
*.vsidx
